:root{
    --primary-color: crimson;
    --secondary-color:black;
    --tertiary-color:salmon;
    --first-font-family: 'Patrick Hand', cursive;
    --second-font-family:'Lobster Two', cursive;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: var(--secondary-color);
}
h1{
    font-size: 96px;
    
}
h2{
    font-size: 55px;
    
}

p{
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    font-family: var(--second-font-family);
}
.hero{
    background: cadetblue;
    text-align: center;
    padding: 100px 20px;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
}
.hero h2{
    font-weight: normal;
    font-size: 24px;
    line-height: 1.4px;
}
.btn-branding{
 background:var(--primary-color) ;
 border-radius: 4px;
 color: var(--secondary-color);
 font-size: 18px;
 line-height: 27px;
 padding: 15px 30px;
}
.btn-branding-outline{
 font-size: 18px;
 line-height: 27px;
 padding: 15px 30px;
 border-radius: 4px;
 color: var(--primary-color);
 border: 1px solid var(--secondary-color);
}
.project-description{
    padding: 120px 60px;
}
.content h1{
    
    font-size: 64px;
}
.content h2{
    font-size: 18px;
}
.content h3{
    font-size: 24px;
    margin: 20px 0 0 ;
}
.content p{
    font-size: 26px;
    font-family: var(--first-font-family);
}
.content-container{
    padding: 120px 20px;
}
.content{
    margin: 30px;
}
.logo{
    max-height: 100px;
}
nav{
    padding: 20px 0;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    line-height: 40px;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    color: darkorange;
    transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a{
    color: var(--tertiary-color);
}
footer{
    margin: 60px 0;
}
footer.contact-box{
    background: orchid;
    padding: 30px 140px;
    border-radius: 10px;
}
footer .email-link{
   text-decoration: none;
   color:indigo;
   font-size: 24px;
}
footer .email-link:hover{
    color: lawngreen;
}
footer .social-links a{
   margin:0 20px;
   color:indigo;
   background-color: var(--tertiary-color);
   padding: 10px 14px;
   transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
    color: orchid;
}
@media (max-width:900px) {
    h1{
        font-size: 40px;
        line-height: 52px;
    }
    h2{
        font-size: 44px;
    }
    h4{
        font-size: 24px;
    }
    .hero{
        padding: 60px 10px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .hero h2{
        font-weight: normal;
        font-size: 20px;
        padding-top: 35px;
        
    }
    .content{
        padding: 0 auto;
        text-align: center;
    }
    nav a{
        font-size: 14px;
    }
}