:root{
    --primary-color: crimson;
    --secondary-color:black;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: var(--secondary-color);
}
h1{
    font-size: 96px;
    
}
h2{
    font-size: 55px;
    
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.hero{
    background: cadetblue;
    text-align: center;
    padding: 120px 20px;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
}
.hero h2{
    font-weight: normal;
    font-size: 24px;
    line-height: 1.4px;
}
.btn-branding{
 background:var(--primary-color) ;
 border-radius: 4px;
 color: var(--secondary-color);
 font-size: 18px;
 line-height: 27px;
 padding: 15px 30px;
}
.btn-branding-outline{
 font-size: 18px;
 line-height: 27px;
 padding: 15px 30px;
 border-radius: 4px;
 color: var(--primary-color);
 border: 1px solid var(--secondary-color);
}
.project-description{
    padding: 120px 60px;
}
.about-section h1{
    line-height: 80;
    font-size: 64px;
}
.about-section h2{
    font-size: 18px;
}
.about-section{
    padding: 120px 20px;
}
.about-section-content{
    margin: 30px;
}
@media (max-width:900px) {
    h1{
        font-size: 40px;
        line-height: 52px;
    }
    h2{
        font-size: 44px;
    }
    .hero{
        padding: 60px 10px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .hero h2{
        font-weight: normal;
        font-size: 20px;
        padding-top: 35px;
        
    }
    .about-section{
        padding: 0 auto;
        text-align: center;
    }
}